body::before{
    display: block;
    content: '';
    height: 60px;
}
/* ? Utilities */
.primary-bg-color{
    background-color: #289BDE !important;
}
.primary-bg-transparent{
    background-color: #289bde30 !important;
}
.primary-btn-color{
    background-color: #289BDE !important;
}
.primary-btn-color:hover{
    background-color: #2f90c8 !important;
    border: 1px solid #289BDE !important;
}
.primary-text-color{
    color: #289BDE !important;
}

/* ? for navbar register */
.navbar-reg-btn{
    border: 1px solid #fff;
}
.navbar-reg-btn:hover{
    border: 1px solid #fff !important;
}
/* ? For Slider */
.slider-img {
    min-height: 60vh;
    object-fit: cover;
    object-position: center;
}
.carousel-container {
    position: relative;
}
.carousel-content{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
footer i:hover{
    transform: scale(1.1);
}

/* ? Custom media */
@media screen and (max-width: 576px) {
    .carousel-container h2{
        font-size: 1.85rem;
    }
    .carousel-container p{
        font-size: .95rem;
    }
}

@media screen and (max-width: 991px) {
    body::before{
        height: 50px;
    }
    .navbar-item a{
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 576px) {
    body::before{
        height: 40px;
    }
}


@media screen and (min-width: 768px) {
    .slider-text{
        width: 70% !important;
    }
}

@media screen and (max-width:1024px) {
    .trusted-company{
        display: none !important;
    }
}